// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/* * KEY POSITION ENUMERATION (Cradio/Sweep)
 * 0  1  2  3  4     5  6  7  8  9
 * 10 11 12 13 14    15 16 17 18 19
 * 20 21 22 23 24    25 26 27 28 29
 * 30 31    32 33
 */

// Right-hand keys (for Left-hand mods)
#define KEYS_R 5 6 7 8 9 15 16 17 18 19 25 26 27 28 29 32 33

// Left-hand keys (for Right-hand mods)
#define KEYS_L 0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31

// Macros for home row mods
#define HRML(k1,k2,k3,k4) &hml LSHFT k1 &hml LCTRL k2 &hml LALT k3 &hml LGUI k4
#define HRMR(k1,k2,k3,k4) &hmr RGUI k1 &hmr RALT k2 &hmr RCTRL k3 &hmr RSHFT k4

/ {
	behaviors {
		hml: left_homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "balanced";
			tapping-term-ms = <280>;
			quick-tap-ms = <175>;
			require-prior-idle-ms = <150>;
			bindings = <&kp>, <&kp>;
			hold-trigger-key-positions = <KEYS_R>;
			hold-trigger-on-released;
		};

		hmr: right_homerow_mods {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "balanced";
			tapping-term-ms = <280>;
			quick-tap-ms = <175>;
			require-prior-idle-ms = <150>;
			bindings = <&kp>, <&kp>;
			hold-trigger-key-positions = <KEYS_L>;
			hold-trigger-on-released;
		};

		lt_fast: layer_tap_fast {
			compatible = "zmk,behavior-hold-tap";
			#binding-cells = <2>;
			flavor = "hold-preferred";
			tapping-term-ms = <150>;
			quick-tap-ms = <0>;
			bindings = <&mo>, <&kp>;
		};

		td_z: tap_dance_z_esc_enter {
			compatible = "zmk,behavior-tap-dance";
			#binding-cells = <0>;
			tapping-term-ms = <200>;
			bindings = <&kp Z>, <&kp ESC>, <&kp ENTER>;
		};
	};

	keymap {
		compatible = "zmk,keymap";

		default_layer {
			display-name = "Default Layer";
			bindings = <
				    //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
				    //│  Q       │  W       │  E       │  R       │  T       │   │  Y       │  U       │  I       │  O       │  P       │
				    &kp Q &kp W &kp E &kp R &kp T &kp Y &kp U &kp I &kp O &kp P
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│  A       │  S       │  D       │  F       │  G       │   │  H       │  J       │  K       │  L       │ ; :      │
				    HRML(A, S, D, F) &kp G &kp H HRMR(J, K, L, SEMI)
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│  Z       │  X       │  C       │  V       │  B       │   │  N       │  M       │ , <      │ . >      │ / ?      │
				    &td_z &kp X &kp C &kp V &kp B &kp N &kp M &kp COMMA &kp DOT &kp
				    FSLH
				    //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯ &lt_fast 2 TAB &kp BSPC &kp SPACE &lt_fast 1 LS(ENTER)
				    //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
				   >;
		};

		right_layer {
			display-name = "Right Layer";
			bindings = <
				    //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
				    //│          │  [       │  {       │  }       │          │   │ HOME     │ PAGE DN  │ PAGE UP  │ END      │  - _     │
				    &trans &kp LBKT &kp LBRC &kp RBRC &trans &kp HOME &kp PG_DN &kp
				    PG_UP &kp END &kp MINUS
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│  !       │  @       │  #       │  $       │  %       │   │ LEFT     │ DOWN     │ UP       │ RIGHT    │  ' "     │ &kp EXCL &kp AT &kp HASH &kp DLLR &kp PRCNT &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SQT
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│          │          │          │          │          │   │          │          │          │          │          │
				    &trans &trans &trans &trans &trans &trans &trans &trans &trans
				    &trans
				    //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯ &kp ENTER &kp ESC &trans &trans
				    //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
				   >;
		};

		left_layer {
			display-name = "Left Layer";
			bindings = <
				    //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
				    //│ INSERT   │  1       │  2       │  3       │ PRTSCRN  │   │  ^       │  (       │  )       │  ]       │  ~       │
				    &kp INS &kp N1 &kp N2 &kp N3 &kp PRSC &kp CARET &kp LPAR &kp
				    RPAR &kp RBKT &kp TILDE
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│ DELETE   │  4       │  5       │  6       │          │   │  * │  -       │  =       │  \       │  `       │ &kp DEL &kp N4 &kp N5 &kp N6 &trans &kp ASTRK &kp MINUS &kp EQUAL &kp BSLH &kp GRAVE
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│ CAPS     │  7       │  8       │  9       │  0       │   │  &       │  _       │  +       │  |       │ CAPSLCK  │
				    &caps_word &kp N7 &kp N8 &kp N9 &kp N0 &kp AMPS &kp UNDER &kp
				    PLUS &kp PIPE &kp
				    CAPSLOCK
				    //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯ &trans &trans &trans &trans
				    //                          ╰──────────┴──────────╯   ╰──────────┴──────────╯
				   >;
		};

		tri_layer {
			display-name = "Tri Layer";
			bindings = <
				    //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬──────────┬──────────┬──────────╮
				    //│ RESET    │          │          │          │PROFILE 0 │   │ F1       │ F2       │ F3       │ F4       │  RESET   │
				    &sys_reset &trans &trans &trans &bt BT_SEL 0 &kp F1 &kp F2 &kp
				    F3 &kp F4 &sys_reset
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│BOOTLOADER│          │          │          │PROFILE 1 │   │ F5       │ F6       │ F7       │ F8       │BOOTLOADER│ &bootloader &trans &trans &trans &bt BT_SEL 1 &kp F5 &kp F6 &kp F7 &kp F8 &bootloader
				    //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┼──────────┼──────────┤
				    //│          │          │          │ CLEAR BT │PROFILE 2 │   │ F9       │ F10      │ F11      │ F12      │          │
				    &trans &trans &trans &bt BT_CLR &bt BT_SEL 2 &kp F9 &kp F10 &kp
				    F11 &kp F12
				    &trans
				    //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼──────────┴──────────┴──────────╯ &trans &trans &trans &trans
				    //                                 ╰──────────┴──────────╯   ╰──────────┴──────────╯
				   >;
		};
	};
};
